header {
    background-color: #1f1f2d;
    margin-bottom: 40px;
    display: flex;
  }
  .id{
      display: flex;
      flex-direction: row;
  }
  .logo {
    font-family: cursive;
    font-size: 20px;
    color: #c5c0b8;
    text-align: center;
    letter-spacing: -3;
    margin: 0;
    padding: 20px 0 0 0;
    align-self: center;
  }
body{
    margin: 0 auto;
}
footer {
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    position: sticky;
    bottom: 0;
    background-color:#4CC9F0;
    color: white;
    height: 40px;
    width: 100%;
    margin: 10px;
    font-size: 30px;

}
body {
  background-color: #00132d;
  /* background-image: url(pictures/mountain-night-scenery-stars-landscape-anime-4K-84.jpg); */
  min-width: 100%;
  min-height: 1024px;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: end;
  }

  header nav ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
  }
  header nav ul li {
    list-style-type: none;
  }
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-family: 'Montserrat Alternates', sans-serif;
  }
  @media all and (min-width: 700px) {
    header {
      display: flex;
      justify-content: space-between;
    }
  
    .logo {
      margin: 14px 0 14px 20px;
      padding-top: 0;
      font-size: 42px;
    }
    
    header nav {
      margin-top: 14px;
    }
  }
  main {
    padding: 20px 0;
  }
  
  section {
    margin-bottom: 100px;
  }
  
  div.darkBackground{
    color:#4cc9f0
  }
  section.darkBackground {   
    background-color: #00132d;
    color:#4cc9f0
  }
.center-text {
    color:#4cc9f0 ;
}
h1 {
    font-size: 28px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    color: #403933;
    color:#fff;
  }
  .title{
display:grid;
  }
  
  h2 {
    font-size: 26px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 400;
    margin: 0 10px;
    color:#fff;
  }
  
  h3 {
    font-size: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    color:#fff;
  }
  
  p {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.5em;
   margin-bottom: 0;
   color:#fff;
  }
  h1 {
      color:#fff;
  }
  
  main a {
      font-weight: 700;
      text-decoration: none;	
  }
  
  main  a:link { color: #38786a; }
  main  a:visited { color: #38786a; }
  main  a:hover { color: #403933; }
  a:active { color: #403933; }
  
  
  a:hover {
      text-decoration: underline;	
  }
  
  footer p {
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  
  main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  img.image-enhanced {
    border-radius: 8px;
  }
  
  .group {
    display: flex;
    flex-direction: column;
  }
  
  .item {
    flex: 1;
    margin: 10px;
  }
  
  .item-double {
    flex: 2;
  }
  .IntroPic{
      width: 20%;
  }
  div.item1{
      background-color:#4cc9f0;
  }
.item {
    background-image: url(pictures/mountain-night-scenery-stars-landscape-anime-4K-84.jpg);
    background-color: #4cc9f0;
}


@media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: column;
      margin: auto;
    }
  }
  
  
  
  /* Contact Form Design */
  
  form {
    padding-right: 8px;
    color: white;
    /* Fixed small sizing issue on the right */
  }
  
  form label {
    display: block;
  }
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }

  
  
  